# Finance DataReader란?
    * 한국 주식 가격, 미국주식 가격,지수, 환율, 암호화폐ㅔ 가격, 종목 리스팅 등 금융 데이터 수집 lib
    * https://github.com/FinanceData/FinanceDataReader

# 설치
    * pip install -U finance-datareader

# 라이브러리 불러오기

In [2]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [4]:
# FinanceReader 별칭인 fdr로 뿔러오기
# 라이브러리 version은 .__version__ 으로 확인 
import FinanceDataReader as fdr

fdr.__version__

'0.9.14'

# 한국거래소 상장종목 전체 가져오기
    * 도움말을 보고자 할 때는 ?를 사용하고 소스코드를 볼 때는 ??를 사용
    * 주피터 노트북에선 shitf tab 키를 누르면 됩니다.

In [5]:
fdr.StockListing??

In [ ]:
# KRX: KRX 종목 전체

# KOSPI, KOSDAQ, KONEX, NASDAQ, NYSE, SP500

In [9]:
# 한국거래소 상장종목 전체 가져오기

df_krx = fdr.StockListing("KRX")
df_krx.shape

(6676, 10)

In [10]:
# 전체 데이터 정보 확인(행,열)
df_krx.shape

(6676, 10)

In [11]:
# 전체 데이터 프레임의 요약정보 확인 
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6676 entries, 0 to 6675
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          6676 non-null   object
 1   Market          6676 non-null   object
 2   Name            6676 non-null   object
 3   Sector          2412 non-null   object
 4   Industry        2393 non-null   object
 5   ListingDate     2412 non-null   datetime64[ns]
 6   SettleMonth     2412 non-null   object
 7   Representative  2412 non-null   object
 8   HomePage        2240 non-null   object
 9   Region          2412 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 573.7+ KB

In [13]:
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [15]:
df_krx.describe()

<ipython-input-15-8453f2ac474b>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_krx.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,6676,6676,6676,2412,2393,2412,2412,2412,2240,2412
unique,6676,3,6676,158,2241,1777,9,2297,2219,21
top,57FF43,KOSPI,삼익THK,특수 목적용 기계 제조업,기업인수합병,1976-06-30 00:00:00,12월,-,http://www.ildong.com,서울특별시
freq,1,5039,1,141,36,8,2352,5,2,972
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-01-21 00:00:00,NaN,NaN,NaN,NaN

# 파일로 저장하고 불러오기

In [19]:
# to_csv로 Dataframe을 데이터 저장용 파일인 csv 파일로 바꿀 수 있다.
df_krx.to_csv("krx.csv", index = False) #index=False로 index 없애기

In [20]:
# csv로 저장된 파일을 다시 dataframe으로 읽어서 확인해보기
# 자동완성은 tab
pd.read_csv("krx.csv")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
6671,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6672,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6673,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
6674,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
6675,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시